In [3]:
import pymongo
import json

In [4]:
people = open("People.json")

In [5]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [8]:
db = client["advancedProgramming"]

In [9]:
collection = db["people"]

In [17]:
people_decoded = json.load(people)

In [23]:
student_list = people_decoded.get('students')

In [26]:
ins = collection.insert_many(student_list)

In [71]:
age_results = collection.find({'age':{'$gt': 25}}, {'_id': 0, 'fullName.first':1, 'fullName.surname':1})
for r in age_results:
    print(r)

{'fullName': {'first': 'Lisa', 'surname': 'Penny'}}
{'fullName': {'first': 'Lorenzo', 'surname': 'Dubois'}}
{'fullName': {'first': 'Tanveer', 'surname': 'Patel'}}

In [111]:
no_middle = collection.find({'fullName.other': {'$eq': None}}, {})
for entry in no_middle:
    print(entry)

{'_id': ObjectId('5fb288604e0fa15c4ff9b6eb')}

In [122]:
men_not_tokyo = collection.find({'fullName.title': {'$eq': 'Mr'}, 'city': {'$ne': 'Tokyo'}})
count = 0
for man in men_not_tokyo:
    count += 1
print(f"Number of men not in Tokyo: {count}")

Number of men not in Tokyo: 2

In [123]:
women_not_tokyo = collection.find({'fullName.title': {'$in': ['Mrs', 'Miss']}, 'city': {'$ne': 'Tokyo'}})
count = 0
for women in women_not_tokyo:
    count += 1
print(f"Number of men not in Tokyo: {count}")

Number of men not in Tokyo: 2