# example of where I could have used assertions

In [2]:
file2 = open("PeopleTrainingDateUpdate.csv")

In [3]:
file2.readline()

'05/11/2018,diam.Duis.mi@fringillapurus.net 16200816-7450,,"Hensley, Martina G.",Nonummy Consulting\n'

In [4]:
# split into seperate strings in a list by comma, remove unnecessary characters
entry_list = []
for line in file2:
    items = line.split(",")
    stripped_items = []
    for i in items:
        stripped_items.append(i.replace('"', "").replace("\n", "").replace(".", "").lstrip(" "))
    entry_list.append(stripped_items)

In [5]:
#visual check - different order: Updated, email+id, title, surname, first_name and initial
entry_list

[['28/11/2018',
  'euismod@magnisdisparturientnet 16650329-8280',
  'Mr',
  'Flynn',
  'Noelani S',
  'Ac PC'],
 ['16/12/2018',
  'etlibero@Proinnet 16501112-4038',
  '',
  'Mayo',
  'Erich I',
  'Quis Massa Mauris Institute'],
 ['17/12/2018',
  'velit@Nullaeuedu 16630306-4247',
  '',
  'Lyons',
  'Hedwig L',
  'Duis Risus Odio Institute'],
 ['17/12/2018',
  'magna@vulputaterisusaedu 16970522-2686',
  'Mr',
  'Wood',
  'Leila P',
  'Pharetra Sed Hendrerit PC'],
 ['19/12/2018',
  'orci@dolorNullasemperca 16100930-7719',
  '',
  'Dodson',
  'Kaseem M',
  'Diam At LLP'],
 ['21/01/2019',
  'nostra@infaucibusca 16880622-6034',
  'Mr',
  'Miranda',
  'Hanna Z',
  'Enim Mi Tempor Institute'],
 ['22/01/2019',
  'duiFusce@eleifendnonorg 16120621-3389',
  '',
  'Tate',
  'David D',
  'Urna Corporation'],
 ['25/01/2019',
  'ligulaDonec@laciniavitaeca 16820906-3364',
  'Dr',
  'Duncan',
  'Cheyenne E',
  'Sit Amet Corporation'],
 ['29/01/2019',
  'orci@congueInedu 16790420-1873',
  'Dr',
  'Franks',
  'Nissim L',
  'Dictum Ultricies Ligula LLP'],
 ['29/01/2019',
  'maurisSuspendisse@mollisca 16590729-1222',
  'Mr',
  'Heath',
  'Keane U',
  'Risus Consulting'],
 ['02/02/2019',
  'lobortisrisusIn@tincidunttempusca 16051030-5139',
  'Ms',
  'Vincent',
  'Grace Q',
  'Ultrices A Auctor Associates'],
 ['25/02/2019',
  'Sedeu@laciniaatiaculisca 16670401-6622',
  'Dr',
  'Mcdowell',
  'Edward P',
  'Integer Sem Limited'],
 ['28/02/2019',
  'porttitoreros@seddoloredu 16100230-3863',
  'Dr',
  'Massey',
  'Freya J',
  'Eu Erat Semper Inc'],
 ['28/02/2019',
  'egestasDuis@Nunccommodoauctorcouk 16160503-6332',
  '',
  'Yates',
  'Gisela X',
  'Fringilla Ornare Corporation'],
 ['13/03/2019',
  'vehiculaPellentesque@anet 16970426-3707',
  'Mrs',
  'Coffey',
  'Yvette W',
  'Tellus Id Nunc LLC'],
 ['18/03/2019',
  'eratvolutpatNulla@loremvitaeodionet 16620309-0201',
  'Mrs',
  'Gutierrez',
  'Christopher B',
  'Est Limited'],
 ['23/03/2019',
  'Duis@dolorvitaedoloredu 16550814-4507',
  'Mr',
  'Wiggins',
  'Tarik S',
  'Neque Sed Limited'],
 ['23/03/2019',
  'vitaeposuere@nonummyultriciesornarecom 16990315-8039',
  'Mrs',
  'Ray',
  'Lucy G',
  'Ante Ipsum Corp'],
 ['24/03/2019',
  'bibendumfermentummetus@Donecfelisedu 16910207-2528',
  'Mrs',
  'Meyer',
  'Gail D',
  'Netus Et Malesuada Corp'],
 ['27/03/2019',
  'venenatis@massaIntegervitaeorg 16950324-8800',
  '',
  'Rivers',
  'Quin S',
  'Semper Dui Lectus Limited'],
 ['29/03/2019',
  'ipsumdolorsit@Maecenasmalesuadaedu 16510221-4797',
  'Mr',
  'Salazar',
  'Camille D',
  'Magnis Dis Parturient Associates']]

# HERE!

In [6]:
# What i did originally: I knew that each entry a length of 7 first time around, need to check if consistent with that
# check for consistency by length - all have same number of items
#  but 1 less than first file as email and id are not comma seperated
length_list = []
for l in entry_list:
    x = len(l)
    length_list.append(x)

length_list

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [9]:
#Alternative approach
for l in entry_list: 
    assert len(l) == 7, f"Lengths do not uniformly match at entry_list[{entry_list.index(l)}]"

AssertionError: Lengths do not uniformly match at entry_list[0]

In [288]:
for l in entry_list:
    email_id = l[1].split(" ")
    l.remove(l[1])
    l.extend(email_id)

In [289]:
# order is now: Updated, title, surname, first_name, company, email, id
entry_list

[['28/11/2018',
  'Mr',
  'Flynn',
  'Noelani S',
  'Ac PC',
  'euismod@magnisdisparturientnet',
  '16650329-8280'],
 ['16/12/2018',
  '',
  'Mayo',
  'Erich I',
  'Quis Massa Mauris Institute',
  'etlibero@Proinnet',
  '16501112-4038'],
 ['17/12/2018',
  '',
  'Lyons',
  'Hedwig L',
  'Duis Risus Odio Institute',
  'velit@Nullaeuedu',
  '16630306-4247'],
 ['17/12/2018',
  'Mr',
  'Wood',
  'Leila P',
  'Pharetra Sed Hendrerit PC',
  'magna@vulputaterisusaedu',
  '16970522-2686'],
 ['19/12/2018',
  '',
  'Dodson',
  'Kaseem M',
  'Diam At LLP',
  'orci@dolorNullasemperca',
  '16100930-7719'],
 ['21/01/2019',
  'Mr',
  'Miranda',
  'Hanna Z',
  'Enim Mi Tempor Institute',
  'nostra@infaucibusca',
  '16880622-6034'],
 ['22/01/2019',
  '',
  'Tate',
  'David D',
  'Urna Corporation',
  'duiFusce@eleifendnonorg',
  '16120621-3389'],
 ['25/01/2019',
  'Dr',
  'Duncan',
  'Cheyenne E',
  'Sit Amet Corporation',
  'ligulaDonec@laciniavitaeca',
  '16820906-3364'],
 ['29/01/2019',
  'Dr',
  'Franks',
  'Nissim L',
  'Dictum Ultricies Ligula LLP',
  'orci@congueInedu',
  '16790420-1873'],
 ['29/01/2019',
  'Mr',
  'Heath',
  'Keane U',
  'Risus Consulting',
  'maurisSuspendisse@mollisca',
  '16590729-1222'],
 ['02/02/2019',
  'Ms',
  'Vincent',
  'Grace Q',
  'Ultrices A Auctor Associates',
  'lobortisrisusIn@tincidunttempusca',
  '16051030-5139'],
 ['25/02/2019',
  'Dr',
  'Mcdowell',
  'Edward P',
  'Integer Sem Limited',
  'Sedeu@laciniaatiaculisca',
  '16670401-6622'],
 ['28/02/2019',
  'Dr',
  'Massey',
  'Freya J',
  'Eu Erat Semper Inc',
  'porttitoreros@seddoloredu',
  '16100230-3863'],
 ['28/02/2019',
  '',
  'Yates',
  'Gisela X',
  'Fringilla Ornare Corporation',
  'egestasDuis@Nunccommodoauctorcouk',
  '16160503-6332'],
 ['13/03/2019',
  'Mrs',
  'Coffey',
  'Yvette W',
  'Tellus Id Nunc LLC',
  'vehiculaPellentesque@anet',
  '16970426-3707'],
 ['18/03/2019',
  'Mrs',
  'Gutierrez',
  'Christopher B',
  'Est Limited',
  'eratvolutpatNulla@loremvitaeodionet',
  '16620309-0201'],
 ['23/03/2019',
  'Mr',
  'Wiggins',
  'Tarik S',
  'Neque Sed Limited',
  'Duis@dolorvitaedoloredu',
  '16550814-4507'],
 ['23/03/2019',
  'Mrs',
  'Ray',
  'Lucy G',
  'Ante Ipsum Corp',
  'vitaeposuere@nonummyultriciesornarecom',
  '16990315-8039'],
 ['24/03/2019',
  'Mrs',
  'Meyer',
  'Gail D',
  'Netus Et Malesuada Corp',
  'bibendumfermentummetus@Donecfelisedu',
  '16910207-2528'],
 ['27/03/2019',
  '',
  'Rivers',
  'Quin S',
  'Semper Dui Lectus Limited',
  'venenatis@massaIntegervitaeorg',
  '16950324-8800'],
 ['29/03/2019',
  'Mr',
  'Salazar',
  'Camille D',
  'Magnis Dis Parturient Associates',
  'ipsumdolorsit@Maecenasmalesuadaedu',
  '16510221-4797']]

In [290]:
# use a for loop to create lists for each column
title = []
first_name = []
surname = []
i_d = []
email = []
company = []
updated = []
for l in entry_list:
    title.append(l[1])
    first_name.append(l[3])
    surname.append(l[2])
    i_d.append(l[6])
    email.append(l[5])
    company.append(l[4])
    updated.append(l[0])

In [291]:
# list comprehension to create one name variable from surname and first_name
name = [x + ", " + y for x,y in zip(surname, first_name)]

In [292]:
# dict following same order as result_df_ex2, which this incoming data will be merged with
title_column_dict_rearr = {cols[5]: updated, cols[0]: title, cols[1]: name, cols[2]: i_d, cols[3]: email, cols[4]: company}

In [293]:
# create_dataframe
df_ex3 = pd.DataFrame(title_column_dict_rearr)

In [294]:
# merge with existing df
dfs_to_merge = [result_df_ex2, df_ex3]
result_df_ex3 = pd.concat(dfs_to_merge)

In [295]:
# convert updated to datetime for sorting
result_df_ex3['Updated'] = pd.to_datetime(result_df_ex3['Updated'])

In [296]:
# voila
result_df_ex3.sort_values('Updated')

,Updated,Title,Name,ID,Email,Company
0,2017-01-04,Mr,"Nita Z, Clarke",16220630-3253,pharetraNam@egestashendreritnequecom,Aliquam Nec Enim Institute
25,2017-02-09,Mr,"Devin C, Goodman",16720911-1181,Maecenas@sociisnatoquepenatibuscom,Elementum Inc
4,2017-04-05,Ms,"Zena K, Martin",16750216-5116,Namnullamagna@massaIntegervitaecom,Volutpat Nulla Corp
1,2017-04-14,,"Lenore G, Cobb",16190501-6752,ullamcorperDuiscursus@vehiculaetrutrumedu,Turpis Egestas Aliquam Ltd
2,2017-04-27,Ms,"Naomi J, Burris",16010323-3201,ametanteVivamus@arcuacorcicom,A Malesuada Associates
...,...,...,...,...,...,...
16,2019-03-23,Mr,"Wiggins, Tarik S",16550814-4507,Duis@dolorvitaedoloredu,Neque Sed Limited
17,2019-03-23,Mrs,"Ray, Lucy G",16990315-8039,vitaeposuere@nonummyultriciesornarecom,Ante Ipsum Corp
18,2019-03-24,Mrs,"Meyer, Gail D",16910207-2528,bibendumfermentummetus@Donecfelisedu,Netus Et Malesuada Corp
19,2019-03-27,,"Rivers, Quin S",16950324-8800,venenatis@massaIntegervitaeorg,Semper Dui Lectus Limited
20,2019-03-29,Mr,"Salazar, Camille D",16510221-4797,ipsumdolorsit@Maecenasmalesuadaedu,Magnis Dis Parturient Associates

In [297]:
# mic drop
file2.close()

In [ ]:
file2 = open("PeopleTrainingDateUpdate.csv")

file2.readline()

# split into seperate strings in a list by comma, remove unnecessary characters
entry_list = []
for line in file2:
    items = line.split(",")
    stripped_items = []
    for i in items:
        stripped_items.append(i.replace('"', "").replace("\n", "").replace(".", "").lstrip(" "))
    entry_list.append(stripped_items)


#visual check - different order: Updated, email+id, title, surname, first_name and initial
entry_list

# check for consistency by length - all have same number of items
#  but 1 less than first file as email and id are not comma seperated
length_list = []
for l in entry_list:
    x = len(l)
    length_list.append(x)

length_list

for l in entry_list:
    email_id = l[1].split(" ")
    l.remove(l[1])
    l.extend(email_id)
    
    

# order is now: Updated, title, surname, first_name, company, email, id
entry_list

# use a for loop to create lists for each column
title = []
first_name = []
surname = []
i_d = []
email = []
company = []
updated = []
for l in entry_list:
    title.append(l[1])
    first_name.append(l[3])
    surname.append(l[2])
    i_d.append(l[6])
    email.append(l[5])
    company.append(l[4])
    updated.append(l[0])

# list comprehension to create one name variable from surname and first_name
name = [x + ", " + y for x,y in zip(surname, first_name)]

# dict following same order as result_df_ex2, which this incoming data will be merged with
title_column_dict_rearr = {cols[5]: updated, cols[0]: title, cols[1]: name, cols[2]: i_d, cols[3]: email, cols[4]: company}

# create_dataframe
df_ex3 = pd.DataFrame(title_column_dict_rearr)

# merge with existing df
dfs_to_merge = [result_df_ex2, df_ex3]
result_df_ex3 = pd.concat(dfs_to_merge)

# convert updated to datetime for sorting
result_df_ex3['Updated'] = pd.to_datetime(result_df_ex3['Updated'])

# voila
result_df_ex3.sort_values('Updated')

# mic drop
file2.close()